:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border-color: #000000;
    --icon-color: #000000;
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --border-color: #ffffff;
    --icon-color: #ff7900;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.toggle-container {
    text-align: center;
    padding: 10px;
}

.theme-toggle {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: var(--icon-color);
    color: var(--text-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.cardMainDiv {
    position: relative;
    min-height: 75vh;
    height: fit-content;
    width: 30vw;
    max-width: 90%;
    top: 5vh;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    padding: 2vw;
    border: 5px solid var(--border-color);
    align-self: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logoDiv, .infoDiv, .contactInfoDiv, .responsibiltyDiv, .ib-footer {
    text-align: center;
}

.icons {
    font-size: 3rem;
    color: var(--icon-color);
}

.contactInfoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vw;
}

.contactInfoCardDiv {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cardMainDiv {
        width: 90%;
    }

    .icons {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .contactInfoDiv {
        flex-direction: row;
        justify-content: center;
        gap: 3vw;
    }

    .icons {
        font-size: 1.5rem;
    }
}
